{% extends 'base/base.html' %}


{% block content %}

 <div class="page-header form-header text-center">
        <h1>.</h1>
    </div>
{% for ed_form in ed_form %}

<form id="main" class="form-container" method="POST" action="/updateForm/{{ ed_form.sno }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col-sm-3 left-panel"></div>
            <div class="col-sm-6 mid-panel"  id="formContainer">
                <div class="row">
                    <div class="col-sm-12 formTitle">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" placeholder="Enter Your Name" id="title" required name="name" value="{{ ed_form.name }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 formDes">
                        <div class="mdl-textfield mdl-js-textfield">

                            <input type="number" id="contact" value="{{ ed_form.contact }}" onfocusout="contactNumber()" name="contact" pattern="/(6|7|8|9)\d{9}$/" class="form-input mdl-textfield__input" title="mobile number starting with 6 or 7 or 8 or 9 only and it contains 10 digits only" placeholder="Enter your Contact Number" required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 formDes">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input type="email" id="email" name="email" value="{{ ed_form.email }}" class="form-input mdl-textfield__input" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" title="sample@gmail.com" placeholder="Enter your email" required="required" >

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 formDes">
                        <div class="mdl-textfield mdl-js-textfield">
                            <h5><b><u>Choose Gender</u></b></h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
  <input class="form-check-input" type="radio" name="gender" value="Male" checked>
  <label class="form-check-label">
    Male
  </label>
</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
  <input class="form-check-input" type="radio" name="gender" value="Female">
  <label class="form-check-label">
    Female
  </label>
</div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 formDes">
                        <div class="mdl-textfield mdl-js-textfield">

<h5><b><u>Choose Subject</u></b></h5>
                            <div class="demo">
  <select style="display:none"  name="subject" multiple>
   <option value="java">Java</option>
   <option value="python">Python</option>
   <option value="c">C</option>
  </select>
</div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 formDes">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="hidden" id="quesCount" name="ques_count" value="{% if form %}{{ form.total_ques }}{% else %}0{% endif %}">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 29px;">
                    <div class="col-md-5"></div>
                    <div class="col-md-6">
                        <button type="button" style="" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>



        </div>
    </form>


{% endfor %}

 {% endblock %}